body{
	background-color: #FFFFFF;
	color: black;
}

div{
	padding-bottom: 10px;
	width: 180px;
	background-color: #99FF66;
	float:left;
}

ul.menu{
	display:none;
	list-style-type: none;
	margin-top: 0;
	padding:0;  
	color: green;
}

a.menu li{
	front:12px arial, helvetica, sans-serif;
	padding-left:10px;
}

a.menuLink, li a{
	text-decoration: none;
	color:green;
}

a.menuLink{
	front-size:16px;
	front-weight:bold;
}

li a:hover {
	background-color: #060;
	color:white;
}